*{
    margin: 0px;
    padding: 0px;
}

::-moz-selection {
    color: white;
    background: red;
}
  
::selection {
    color: white;
    background: red;
}

html, body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #27343c;
    font-family: arial;
    cursor:url(cursor.png), auto;
}

.main{
    margin: 2%;
}
   
.header{
    overflow: hidden;
    background-color: #30414b;
    padding: 10px 5px;
}

h2{
    color: white;
    float: left;
    font-size: 30px;
}

.item{
    background-color: #30414b;
    width: 18%;
    display: inline-block;
    border-radius: 6px; 
    margin: 30px;
    transition: .8s;
}

.centeredItem{
    background-color: #30414b;
    width: 18%;
    display: inline-block;
    border-radius: 6px; 
    margin-left: 40%;
    margin-top: 10%;
    transition: .8s;
}

.item:hover{
    box-shadow: 6px 6px 60px #6fa3a7;
    transition: .8s;
}

.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
   
.title{
    color: #356e6f;
    text-align: center;
    padding: 6px;
}
   
h1{
    font-size: 20px;
}
   
.Description{
    color: #356e6f;
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button{
    background-color: #356e6f;
    transition: .8s;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 15px;
    text-align: right;
}

button:hover{
    box-shadow: 2px 2px 30px #356e6f;
    background-color: #356e6f;
    color: white;
    transition: .8s;
    cursor:url(cursor.png), auto;
}

.header-right {
    float: right;
}